@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
}
.Homepage {
  height: 100vh;
  background-color: #152938;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeframe {
  justify-content: center;
  display: flex;
  /* border: 0.2rem solid; */
  width: 40.875rem;
  height: 42.9375rem;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: center;
}
#title {
  color: #fcfcfc;
  font-family: Atkinson Hyperlegible;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 5rem;
}
.down {
  width: 40.875rem;
  height: 34.9375rem;
  border: 0.2rem solid white;
  border-radius: 1.25rem;
  background: #fcfcfc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input[type="radio"]:checked + label {
  background-color: #304859;
}
input[type="radio"] {
  display: none;
}
.Theme,
.Players,
.Grid {
  display: flex;
  width: 33.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Theme-radio {
  width: 33.8125rem;
  display: flex;
  justify-content: space-between;
}

.Theme-btn {
  width: 16rem;
  height: 3.25rem;
  border-radius: 1.625rem;
  background: #bcced9;
}
.Theme-btn:hover {
  background-color: #6395b8;
}
#players-title,
#Theme-title,
#grid-title {
  color: #7191a5;
  font-family: Atkinson Hyperlegible;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.prayer-radio {
  width: 33.8125rem;
  display: flex;
  justify-content: space-between;
}

.Prayer-btn {
  width: 7.4375rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 1.625rem;
  background: #bcced9;
}
.Prayer-btn:hover {
  background-color: #6395b8;
}
.Grid-radio {
  width: 33.8125rem;
  display: flex;
  justify-content: space-between;
}

.grid-btn {
  width: 16rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 1.625rem;
  background: #bcced9;
}
.grid-btn:hover {
  background-color: #6395b8;
}
.grid-btn,
.Prayer-btn,
.Theme-btn {
  color: #fcfcfc;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
}
.start-btn {
  width: 33.8125rem;
  height: 4.375rem;
  border: 0;
  border-radius: 2.1875rem;
  background: #fda214;
  color: #fcfcfc;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2rem;
  cursor: pointer;
}
.start-btn:hover {
  background-color: #ffb84a;
}

/* CSS for hiding the numbers initially */
.card {
  background-color: #304859;
  color: transparent; /* Hide the number */
  font-size: 44px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;

  /* Styling on hover (you can customize this) */
  &:hover {
    background-color: #6395b8;
  }
}

/* CSS for showing the numbers when cards are flipped */
.card.flip {
  color: #f2f2f2;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background-color: #bcced9; /* Modify this to your preferred background color */
}

/* CSS for hiding the numbers of matched cards */
.card.matched {
  color: white; /* Hide the number for matched cards */
  background-color: #fda214;
}

/* Styles for the 4x4 grid */
.grid-4x4 {
  display: grid;
  /* margin-top: 9.8rem; */
  /* margin-bottom: 9.8rem; */
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* Create 4 equal-height rows */
  gap: 20px; /* Adjust the gap size between cards */
  justify-content: center;
  align-items: center;

  /* max-width: 500px; */
}

.grid-4x4 .card {
  width: 7.375rem;
  height: 7.375rem;
  /* Adjust the height for the 4x4 grid cards as needed */
}

/* Styles for the 6x6 grid */
.grid-6x6 {
  /* margin-top: -10rem;
  margin-bottom: 5rem; */
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px; /* Adjust the gap as needed for 6x6 */
  /* max-width: 800px; Adjust the max-width for 6x6 */
}

.grid-6x6 .card {
  width: 5.125rem;
  height: 5.125rem;
  /* Adjust the height for the 6x6 grid cards as needed */
}
.solo-play {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.soloframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69.375rem;
  height: 55.4375rem;
  flex-direction: column;
  /* background-color: #304859; */
  /* border: 0.1rem solid; */
}
.solotop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 0.1rem solid; */
}
#solotitle {
  color: #152938;
  font-family: Atkinson Hyperlegible;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#btn3 {
  display: none;
}
#btn1,
#btn2 {
  width: 7.9375rem;
  height: 3.25rem;
  border-radius: 1.625rem;
  border: 0;
  text-align: center;
  font-family: Atkinson Hyperlegible;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
#btn1 {
  background-color: #fda214;
  color: #fcfcfc;
}
#btn2 {
  background-color: #dfe7ec;
  color: #304859;
}
.solomiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  /* border: 0.1rem solid; */
}

.solodown {
  display: flex;
  /* border: 0.2rem solid; */
  width: 50%;
  justify-content: space-between;
}
.display {
  display: flex;
  width: 15.9375rem;
  height: 4.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #dfe7ec;
  line-height: 4.5rem;
  justify-content: space-between;
}
h1 {
  color: #7191a5;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}

.moves-count {
  font-size: 32px;
  color: #304859;
  padding-left: 10px;
  font-weight: 700;
}
.moves-count-1 {
  font-size: 32px;
  color: #304859;

  font-weight: 700;
}
#myPopup {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.popup-content {
  background-color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px 0px #000; */
  width: 654px;
  height: 510px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#popuptitle {
  margin-top: 40px;
  font-size: 48px;
  color: #152938;
  margin-bottom: 15px;
}
.popupdisplay {
  background-color: #dfe7ec;
  width: 560px;
  height: 72px;
  border-radius: 10px;
  margin-top: 15px;
  /* margin-left: 50px; */
  line-height: 72px;
  display: flex;
  justify-content: space-between;
}
#poptxt1 {
  font-size: 18px;
  font-weight: 700;
  color: #7191a5;
  margin-left: 30px;
}
#poptxt2 {
  font-size: 32px;
  font-weight: 700;
  color: #304859;
  margin-right: 30px;
}
#poptxt3 {
  font-size: 32px;
  font-weight: 700;
  color: #304859;
  margin-right: 30px;
}
h3 {
  color: #7191a5;
  margin-bottom: 40px;
}

/* Style for the buttons at the bottom */
.popup-button {
  border: none;
  border-radius: 26px;
  cursor: pointer;
}
.popup-cont {
  display: flex;
  width: 85%;

  justify-content: space-between;
  margin-top: 2.5rem;
}
.popup-button {
  border: none;
  border-radius: 26px;
  cursor: pointer;
}
#btn11,
#btn22 {
  width: 260px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
}
#btn11 {
  background-color: #fda214;
  color: white;
}
#btn22 {
  background-color: #dfe7ec;
  color: #304859;
}
body {
  font-family: Arial, sans-serif;
}

.menu-popup {
  display: none;
}
