@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
.landingpage {
  height: 100vh;
  background-color: #152938;
  place-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
#title {
  padding-bottom: 4rem;
  padding-top: 7rem;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.panel {
  margin: 0;
  height: 559px;
  width: 654px;
  /* margin-top: 8rem; */
  background-color: white;
  border-radius: 20px;
}
#theme_sel {
  margin-top: 3rem;
  margin-left: 3rem;
}
h2 {
  font-weight: 700;
  color: #7191a5;
  padding-bottom: 1rem;
}
.button-label,
.button-label2,
.button-label1 {
  display: inline-block;
  background-color: #bcced9;
  color: #fff;
  cursor: pointer;
  border-radius: 26px;
  text-align: center;

  height: 52px;
  width: 256px;
  font-size: 26px;
  font-weight: 700;
  margin-right: 2rem;
  line-height: 52px;
}
.button-label:hover {
  background-color: #6395b8;
}
.hidden-radio {
  display: none;
}
.button-label.selected {
  background-color: #304859 !important;
  border-color: #304859 !important;
  color: #fff !important;
}

#prayers,
#grid {
  margin-top: 2rem;
  margin-left: 3rem;
}
.button-label1 {
  width: 119px;
  margin-right: 1.2rem;
}
.button-label1:hover {
  background-color: #6395b8;
}
.hidden-radio {
  display: none;
}

.button-label2:hover {
  background-color: #6395b8;
}
.hidden-radio {
  display: none;
}

#start {
  margin-top: 2rem;
  margin-left: 3rem;
  height: 70px;
  width: 541px;
  background-color: #fda214;
  border-radius: 26px;
  border: 0;
  color: white;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}
#start:hover {
  background-color: #ffb84a;
}
.selected {
  background-color: #304859;
  border-color: #304859; /* You can set border color as well */
  color: #fff; /* Text color for selected radio button */
}
/* Solo panel for 4 by 4 */
.solo1 {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: "Atkinson Hyperlegible", sans-serif;
  align-items: center;
}
.solopanel {
  display: flex;
  margin: 0;
  height: 48.4rem;
  width: 69rem;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn1,
#btn2 {
  width: 149px;
  height: 52px;
  background-color: #fda214;
  color: white;
  border-radius: 26px;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
#btn2 {
  background-color: #979797;
}
#titlesolo {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 50px;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.display {
  width: 210px;
  justify-content: space-between;
  display: flex;
  height: 72px;
  border-radius: 10px;
  align-items: center;
  margin-left: 21px;
  background-color: #dfe7ec;
}
.dowat {
  width: 210px;
  justify-content: space-between;
  display: flex;
  height: 72px;
  align-items: center;
  margin-left: 21px;
  background-color: #dfe7ec;
}
h1 {
  color: #7191a5;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}

.moves-count {
  font-size: 32px;
  color: #304859;
  padding-left: 10px;
  font-weight: 700;
}
.moves-count-1 {
  font-size: 32px;
  color: #304859;

  font-weight: 700;
}

.down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.center {
  position: relative;
  margin-top: 2rem;
  width: auto;
  display: flex;
  justify-content: center;
}
#btn3 {
  visibility: hidden;
}
.btn1,
.btn2,
.btn3 {
  visibility: hidden;
}
/*  popup */

#myPopup {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.popup-content {
  background-color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px 0px #000; */
  width: 654px;
  height: 510px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#popuptitle {
  margin-top: 40px;
  font-size: 48px;
  color: #152938;
  margin-bottom: 15px;
}
.popupdisplay {
  background-color: #dfe7ec;
  width: 560px;
  height: 72px;
  border-radius: 10px;
  margin-top: 15px;
  /* margin-left: 50px; */
  line-height: 72px;
  display: flex;
  justify-content: space-between;
}
#poptxt1 {
  font-size: 18px;
  font-weight: 700;
  color: #7191a5;
  margin-left: 30px;
}
#poptxt2 {
  font-size: 32px;
  font-weight: 700;
  color: #304859;
  margin-right: 30px;
}
#poptxt3 {
  font-size: 32px;
  font-weight: 700;
  color: #304859;
  margin-right: 30px;
}
h3 {
  color: #7191a5;
  margin-bottom: 40px;
}

/* Style for the buttons at the bottom */
.popup-button {
  border: none;
  border-radius: 26px;
  cursor: pointer;
}
.popup-cont {
  display: flex;
  width: 85%;

  justify-content: space-between;
  margin-top: 2.5rem;
}
#btn11,
#btn22 {
  width: 260px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
}
#btn11 {
  background-color: #fda214;
  color: white;
}
#btn22 {
  background-color: #dfe7ec;
  color: #304859;
}
.btn_cont {
  margin: 40px auto;
  width: 560px;
  justify-content: space-between;
  display: flex;
}
.hidden {
  display: none;
}

/* CSS for hiding the numbers initially */
.card {
  width: 118px;
  height: 118px;
  background-color: #304859;
  color: transparent; /* Hide the number */
  font-size: 44px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Styling on hover (you can customize this) */
  &:hover {
    background-color: #6395b8;
  }
}

/* CSS for showing the numbers when cards are flipped */
.card.flip {
  color: rgb(255, 255, 255); /* Show the number */
  background-color: #bcced9; /* Modify this to your preferred background color */
}

/* CSS for hiding the numbers of matched cards */
.card.matched {
  color: white; /* Hide the number for matched cards */
  background-color: #fda214;
}

/* Styles for the 4x4 grid */
.grid-4x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* Create 4 equal-height rows */
  gap: 20px; /* Adjust the gap size between cards */

  max-width: 500px;
}

.grid-4x4 .card {
  width: 118px; /* Adjust the width for the 4x4 grid cards as needed */
  height: 118px; /* Adjust the height for the 4x4 grid cards as needed */
}

/* Styles for the 6x6 grid */
.grid-6x6 {
  margin-top: -0.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px; /* Adjust the gap as needed for 6x6 */
  max-width: 800px; /* Adjust the max-width for 6x6 */
}

.grid-6x6 .card {
  width: 82px; /* Adjust the width for the 6x6 grid cards as needed */
  height: 82px; /* Adjust the height for the 6x6 grid cards as needed */
}
.mutipleprayer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fda214;
  width: 1110px;
  height: 900px;
}
.upper {
  margin-top: -8.1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #304859;
  width: 100%;
  height: 50px;
}
#btn111,
#btn222 {
  width: 149px;
  height: 52px;
  background-color: #fda214;
  color: white;
  border-radius: 26px;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
#btn222 {
  background-color: #979797;
}
#uppertitle {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 50px;
}
.middlecenter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 80%;
  height: 80%;
}
.lastdown {
  width: 100%;
  background-color: #fff;
}
.hidden {
  display: none;
}
